html{
    height: 100%;
}
body{
    height: 100%;
}
#app{
    height: 100%;
    overflow-y: scroll;
}


.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    position: fixed;
    background-color: #ffffff;
    top: 0;
    left: 0;
    right: 0;
    padding-bottom: 15px;
    z-index: 3;
}
.header .logo{
    margin-left: 18px;
}

.header .search-input{
    display: flex;
    align-items: center;
    width: 132px;
    height: 24px;
    font-size: 10px;
    color: #999999;
    background-color: #f4f4f4;
    border-radius: 12px;
    margin-left: 5px;
}
.header .search-input span{
    width: 92px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.header .search-input svg{
    margin-left: 12px;
}

.header .avatar svg{
    border-radius: 50%;
}

.header .download-app{
    margin-right: 12px;
    width: 78px;
    height: 23px;
    line-height: 23px;
    padding: 0 10px;
    text-align: center;
    color: #ffffff;
    border-radius: 4px;
    font-size: 12px;
    background-color: #fb7299;
}

.nav-box{
    position: fixed;
    background-color: #ffffff;
    top: 54px;
    left: 0;
    right: 0;
    z-index: 1;
}
.nav-box .nav-list{
    width: 85%;
    white-space: nowrap;
    overflow-x: scroll;
    padding-left: 24px;
    /* display: none; */
}

.nav-box .nav-list::-webkit-scrollbar{
    display: none;
}

.nav-box .nav{
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin-right: 40px;
    color: #757575;
    font-size: 14px;
    border-bottom:2px solid transparent;
}
.nav-box .nav.active{
    color: #fb7299;
    border-color: #fb7299;
}

.nav-box .down{
    position: absolute;
    top: -3px;
    right: 13px;
}

.hide-nav-box{
    z-index: 2;
    position: fixed;
    top: 54px;
    left: 0;
    right: 0;
    padding-bottom: 20px;
    transition: top .3s;
    background-color: #ffffff;
} 
.hide-nav-box.hide{
    top: -117px;
}


.hide-nav-box .nav-list .nav{
 
    text-align: center;
    padding: 6px 0;
    margin-bottom: 10px;
    display: inline-block;
    width: 32px;
    margin-left: 14px;
    margin-right: 14px;
    color: #757575;
    font-size: 14px;
    border-bottom: 2px solid transparent;
}
.hide-nav-box .nav-list .nav.big{
    width: 46px;
    margin-left: 7px;
    margin-right: 7px;

}
.hide-nav-box .nav-list .nav.active{
    border-color: #fb7299;
}
.hide-nav-box .up{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

.banner-box{
    position: relative;
    background-color: yellow;
    top: 90px;
    width: 350px;
    left: 50%;
    transform: translate(-50%);
    height: 110px;
    overflow: hidden;
    border-radius: 6px;
}
.banner-box .banner-list{
    width: calc(350px *4);
    position: absolute;
    left: 0;
    background-color: tomato;
    transition: left .5s;
}
.banner-box .banner{
    float: left;
    width: 350px;
    height: 110px;
}
.banner-box .poster{
    width: 100%;
    height: 100%;
}

.banner-box  .index-list{
    position: absolute;
    padding: 0 3px;
    bottom: 3px;
    left: 50%;
    transform: translate(-50%);
    height: 10px;
    display: flex ;
    align-items: center;
    border-radius: 5px;
    background-color: rgba(0,0,0,.5);
}
.banner-box .index{
    border-radius: 50%;
    width: 5px;
    height: 5px;
    margin-left: 3px;
    margin-right: 3px;
    background-color: #ffffff;
}
.banner-box .index.active{
    background-color: #fb7299;
}

.video-box{
    padding-top: 100px;
    padding-left: 6px;
    padding-right: 6px;
}
.video-box .video-list::after{
    clear: both;
    content: '';
    display: block;
}

.video-box .video{
    width: 50%;
    float: left;
}
.video-box .poster{
    position: relative;
    height: 106px;
    margin: 0 6px;
    border-radius: 6px;
    overflow: hidden;
}

.video-box .poster img{
    width: 100%;
    height: 100%;
}

.video-box .poster .info{
    font-size: 12px;
    position: absolute;
    bottom: 0;
    color: #ffffff;
    background-image:linear-gradient(rgba(33,33,33,0),rgba(33,33,33,.5));
    padding-top: 7px;
    padding-bottom: 3px;
    padding-left: 10px;
    left: 0;
    right: 0;
    height: 20px;
}
.video-box .info div{
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
}
.video-box .info svg{
    width: 14px;
    height: 14px; 
    fill: #ffffff;
    margin-right: 3px;
}

.video-box .title{
    font-size: 13px;
    margin:6px 6px 10px 6px;
    line-height: 20px;
    height: 38px;
    /* 单行文本溢出打点：
    设置文本不换行
    white-space: nowrap;
    设置文本溢出用省略号代替
    text-overflow: ellipsis; */
    /* 多行文本溢出打点 */
    overflow: hidden;
    /* 限制一个块元素内显示的文本行数 */
    -webkit-line-clamp: 2;
    /* 设置盒子为伸缩盒 */
    display: -webkit-box;
    /* 设置伸缩盒内子元素排列方式为vertical */
    -webkit-box-orient: vertical;
}

.footer{
    margin-top: 40px;
}

.footer p{
    margin-bottom: 20px;
    color: #999999;
    font-size: 13px;
    text-align: center;
}